{% extends 'base.html' %} {% load static %} {% block content %}
<section class="py-5">
    <div class=" container">
        <section class=" row">
            <article class="col-12 col-sm-6 col-md-6">
                <div>
                    <img src="{% static '/shipment/images/truck3.jpg' %}" alt="" class="img-fluid shadow" style="object-fit: cover;">
                </div>
            </article>

            <article class="col-12 col-sm-6 col-md-6 align-self-center">
                <div class="row">
                    <article class="col-12 pb-3">
                        <h1>15 Years of <span class="text-info">experience</span> </h1>
                        <h2 class="h5">In the hualage and logistic world.</h5>
                    </article>
                    <article class="col-12 d-flex justify-content-between">
                        <div class="d-flex">
                            <h4 class="d-flex align-items-center ">
                                <span>1200</span>
                            </h4> &nbsp; &nbsp;
                            <p>
                                Satisfied <br /> Clients
                            </p>
                        </div>
                        <div class="d-flex">
                            <h4 class="d-flex align-items-center ">
                                <span>7000</span>
                            </h4> &nbsp; &nbsp;
                            <p>
                                Goods <br /> Delivered.
                            </p>
                        </div>
                        <div class="d-flex">
                            <h4 class="d-flex align-items-center ">
                                <span>7000</span>
                            </h4> &nbsp; &nbsp;
                            <p>
                                Goods <br /> Delivered.
                            </p>
                        </div>
                    </article>
                </div>
            </article>
        </section>
    </div>

    <div class=" container py-5">
        <section class="row">
            <article class=" col-12 col-sm-6 col-md-6 text-end align-self-center">
                <h2>
                    Our Experience, Your free Time
                </h2>
                <p>
                    We deliver goods to all nook and crannies of the world. Bringing your goods and services to your door steps, by following simple steps. We make the world small, We help your think and solve your logistic problems.
                </p>
            </article>
            <article class=" col-12 col-sm-6 col-md-3">
                <div class=" border text-center p-4 bg-light">
                    <span class="icofont icofont-4x icofont-bullseye secondary_color"></span>
                    <h3 class="pt-4 pb-3 text-light" style=" text-shadow: 0px 0px 4px rgb(29, 62, 172);">
                        Mission
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit id officia perferendis et rem porro harum mollitia.
                    </p>
                </div>
            </article>
            <article class=" col-12 col-sm-6 col-md-3">
                <div class=" border text-center p-4 bg-light">
                    <span class="icofont icofont-4x icofont-eye-alt text-primary"></span>
                    <h3 class="pt-4 pb-3 text-light" style=" text-shadow: 1px 1px 5px rgb(29, 62, 172);">
                        Vision
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit id officia perferendis et rem porro harum mollitia.
                    </p>
                </div>

            </article>
        </section>

    </div>
</section>
{% endblock content %}