{% extends 'base.html' %} {% load static %} {% block content %}
<section class="py-5 bg-light">
    <div class=" container">
        <section class=" row">
            <article class=" offset-md-1 col-12 col-sm-5 col-md-5">
                <div>
                    <img src="{% static '/shipment/images/truck3.jpg' %}" alt="" class="img-fluid shadow rounded" style="object-fit: cover;">
                </div>
            </article>

            <article class="col-12 col-sm-5 col-md-5 align-self-center">
                <div class="row">
                    <article class="col-12 pb-3">
                        <h1>15 Years of <span class=" secondary_color">experience</span> </h1>
                        <h2 class="h5 text-muted">In the hualage and logistic world.</h2>
                    </article>
                    <article class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <div class="p-3 p-sm-4 bg-white text-center rounded shadow-sm">
                                    <h4>
                                        1200
                                    </h4>
                                    <p class=" text-muted">
                                        Satisfied Clients
                                    </p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="p-3 p-sm-4 bg-white text-center rounded shadow-sm">
                                    <h4>
                                        7000
                                    </h4>
                                    <p class=" text-muted">
                                        Goods Delivered.
                                    </p>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="p-3 p-sm-4 bg-white text-center rounded shadow-sm">
                                    <h4>
                                        80
                                    </h4>
                                    <p class=" text-muted">
                                        Countries Covered.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </article>
                </div>
            </article>
        </section>
    </div>

    <div class=" container py-5">
        <section class="row">
            <article class=" offset-sm-1 col-12 col-sm-4 col-md-4 text-start text-sm-end align-self-center">
                <h2>
                    Our Experience, Your free Time
                </h2>
                <p>
                    We deliver goods to all nook and crannies of the world. Bringing your goods and services to your door step. We make the world small, by solving all your logistic problems.
                </p>
            </article>
            <article class=" col-12 col-sm-6 col-md-3 mb-3 mb-sm-none">
                <div class=" border text-center p-4 bg-white ">
                    <span class="icofont icofont-4x icofont-bullseye secondary_color"></span>
                    <h3 class="pt-4 pb-3 text-white" style=" text-shadow: 0px 0px 4px rgb(29, 62, 172);">
                        Mission
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit id officia perferendis et rem porro harum mollitia.
                    </p>
                </div>
            </article>
            <article class=" col-12 col-sm-6 col-md-3">
                <div class=" border text-center p-4 bg-white">
                    <span class="icofont icofont-4x icofont-eye-alt text-primary"></span>
                    <h3 class="pt-4 pb-3 text-white" style=" text-shadow: 1px 1px 5px rgb(29, 62, 172);">
                        Vision
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit id officia perferendis et rem porro harum mollitia.
                    </p>
                </div>

            </article>
        </section>

    </div>
</section>
{% endblock content %}