{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="header" style="position: relative;">
        <div class=" container">
            <div class=" row">
                <div class=" col-12 col-md-5" style="margin-top: 10vh;">
                    <h1>
                        Supersonic Delivery Logistic Services.
                    </h1>
                    <p class="py-4">
                        We deliver goods in 39 countries worldwide <i class=" icofont icofont-world icofont-2x" style="color: orange;"></i>
                    </p>
                    <p class=" d-grid col-6 ">
                        <a href="" class="btn btn-lg rounded-pill btn-warning">TRACKING </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="custom-shape-divider-bottom-1620085219">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div> -->
        <div class="custom-shape-divider-bottom-1620085333">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

    <section id="brief-abt" class="py-3 py-md-5">
        <div class="container">
            <div class="row">  
                <div class="col-12 col-md-6 offset-md-3">
                    <h2 class=" pb-4">
                        You are in good company, From a <span>dream</span> to awesome <span>Reality</span>.
                    </h2>
                    <p >
                        <b>With over 30thousand goods delivered,</b> <br />
                        Supersonic Delivery focus on customers services
                        We deliver your goods at the speed of light, that's the source of inspiration
                        of our company name &quot; Supersonic Delivery &quot;
                        From UK with the blend of Machine Learning, we have been leading Logistic Tech. section.
                        Our delivery company delivers goods securely at every nook & crannies of the world.
                        At present we serve clients from over 39 nations in the world.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="py-3 text-center">
        <div class="container">
            <div class="row">  
                <div class="col-12 col-md-4 p-3 py-md-4 px-md-5">
                    <span>
                        <i class=" icofont icofont-5x icofont-truck-loaded secondary_color"></i>
                    </span>
                    <h3 class="py-4">
                        Land Delivery
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas,
                    </p> 
                    
                </div>
                <div class="col-12 col-md-4 border-end border-start p-3 p-md-4 px-md-5">
                    <span>
                        <i class=" icofont icofont-5x icofont-airplane secondary_color"></i>
                    </span>
                    <h3 class="py-4">
                        Air Freight
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas,
                    </p>  
                    
                </div>
                <div class="col-12 col-md-4 p-3 p-md-4 px-md-5">
                    <span>
                        <i class=" icofont icofont-5x icofont-ship secondary_color"></i>
                    </span>
                    <h3 class="py-4">
                        Sea Freight
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas,
                    </p>                     
                </div>
            </div>
        </div>
    </section>

    <section id="services2">
        <div class="container my-5">
            <div class="row"> 
                <div class="col-12 col-md-6 ">

                </div> 
                <div class="col-12 col-md-6 " style="margin-top: 14vh;">
                    <ul>
                        <li>Fast and Secured Delivery.</li>
                        <li>privacy, and secured payment system.</li>
                        <li>Easy Tracking.</li>
                        <li>Free Professional Packaging</li>
                    </ul>
                    <div class="d-flex flex-row justify-content-start pt-5">
                        <span class="ps-4 pe-4">
                            <h4>30,000 +</h4>
                            <p>Items Delivered</p>
                        </span>
                        <span>
                            <h4>39 +</h4>
                            <p>Countries</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container my-5">
            <div class="row">  
                <div class="col-12 col-md-6 offset-lg-3 p-5 text-center">
                    <h1>What are you still waiting for? Start Sending your Package Today.</h1>
                    <div class="py-5 d-flex justify-content-evenly">
                        <a href="#" class="btn btn-warning btn-lg shadow rounded-pill">CREATE SHIPMENT</a>
                        <!-- <a href="#" class="btn btn-outline-primary btn-lg">CONTACT US</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}