{% extends 'base.html' %} {% load static %} {% block content %}
<section id="header" style="position: relative;">
    <div class=" container">
        <div class=" row">
            <div class=" col-12 col-md-5" style="margin-top: 17vh;">
                <h1 class="animate__animated animate__zoomInDown">
                    Supersonic Delivery Logistic Services.
                </h1>
                <p class="py-4">
                    We deliver goods in 39 countries worldwide <i class=" icofont icofont-world icofont-2x" style="color: orange;"></i>
                </p>
                <p class=" d-grid col-6 ">
                    <a href="{% url 'shipment_track' %}" class="btn btn-lg rounded-pill btn-warning shadow animate__animated animate__slideInUp">
                        TRACKING
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="custom-shape-divider-bottom-1620085219">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div> -->
    <div class="custom-shape-divider-bottom-1620085333 ">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                opacity=".25" class="shape-fill"></path>
            <path
                d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                opacity=".5" class="shape-fill"></path>
            <path
                d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>

<section id="brief-abt" class="py-3 py-md-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center mx-auto">
                <p class="animate__animated animate__flipInX animate__delay-1s">
                    <b style="color: #555dc1; font-size: 26px; ">With over
                        30thousand goods
                        delivered.</b>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 feature">
    <article class=" container">
        <div class="row">
            <article class="col-12 col-md-6 align-self-center">
                <div class="row">
                    <div class="col-12 pb-5">
                        <p class="text-muted"><b>Our Features</b></p>
                        <h6>
                            Why Choose Use
                        </h6>
                    </div>
                    <div class="col-12 col-md-6 pb-3">
                        <div class="rounded d-flex">
                            <span class=" icofont icofont-headphone-alt icofont-pull-left icofont-2x text-info"></span>
                            <div>
                                <h5><b>Customer Care</b></h5>
                                <p>
                                    24/7 dedicated support team. we at your service.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pb-3">
                        <div class=" d-flex">
                            <span class=" icofont icofont-truck icofont-pull-left icofont-2x text-warning"></span>
                            <div class="ml-3 pl-3">
                                <h5><b>Cargo Insurance</b></h5>
                                <p>Safe and fast delivery of all cargoes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pb-3">
                        <div class=" d-flex">
                            <span class=" icofont icofont-location-pin icofont-pull-left icofont-2x text-danger"></span>
                            <div class="ml-3 pl-3">
                                <h5><b>Cargo Tracking</b></h5>
                                <p>AI fast tracking system</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pb-3">
                        <div class=" d-flex">
                            <span class=" icofont icofont-price icofont-pull-left icofont-2x text-info"></span>
                            <div class="ml-3 pl-3">
                                <h5><b>Transparent Price</b></h5>
                                <p>Irrespenctive of tight regulations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class=" col-6 col-md-6">
                <div>
                    <img src="{% static '/shipment/images/truck_green.png' %}" alt="" class="img-fluid " style="object-fit: cover;">
                </div>
            </article>
        </div>

    </article>
</section>

<section id="services" class="py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 p-3 py-md-4 px-md-5 service">
                <span>
                    <i class=" icofont icofont-4x icofont-truck-loaded secondary_color"></i>
                </span>
                <h3 class="py-4" data-aos="fade-down">
                    Land Delivery
                </h3>
                <p>
                    At your comfort we deliver packages at your door step with no hassle both domestic and international.
                </p>

            </div>
            <div class="col-12 col-md-4 border-end border-5 border-white border-start p-3 p-md-4 px-md-5 service">
                <span>
                    <i class=" icofont icofont-4x icofont-airplane secondary_color"></i>
                </span>
                <h3 class="py-4" data-aos="fade-down">
                    Air Freight
                </h3>
                <p>
                    Supersonic delivery offers air freight delivery services to all, through our extensive networks.
                </p>

            </div>
            <div class="col-12 col-md-4 p-3 p-md-4 px-md-5 service">
                <span>
                    <i class=" icofont icofont-4x icofont-ship secondary_color"></i>
                </span>
                <h3 class="py-4" data-aos="fade-down">
                    Sea Freight
                </h3>
                <p>
                    Supersonic Delivery offers sea freight solutions for all requirements of large packages and containers with ease.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="services2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 ">

            </div>
            <div class="col-12 col-md-6 " style="margin-top: 17vh;">
                <ul>
                    <li>Fast and Secured Delivery.</li>
                    <li>privacy, and secured payment system.</li>
                    <li>Easy Tracking.</li>
                    <li>Free Professional Packaging</li>
                </ul>
                <div class="d-flex flex-row justify-content-start pt-5">
                    <span class="ps-4 pe-4">
                        <h4>30,000 +</h4>
                        <p>Items Delivered</p>
                    </span>
                    <span>
                        <h4>39 +</h4>
                        <p>Countries</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class=" container">
        <div class="row mb-2 mb-md-4">
            <article class="col-12 col-sm-6 col-md-4 text-end">
                <div>
                    <p class="secondary_color">Client Success Stories</p>
                    <h1 class="h3">
                        Successful stories, Why our clients trust us
                    </h1>
                </div>

            </article>
            <article class="col-12 col-sm-6 col-md-4">
                <div class="d-flex shadow-sm p-4 bg-white testimonial" data-aos="zoom-in">
                    <i class=" icofont icofont-quote-left icofont-4x icofont-pull-left text-light"></i>
                    <div class="">
                        <p>Rest of mind using supersonic delivery, I feel greately at home here, will recommend to all.
                        </p>
                        <div class="text-end">
                            <p>
                                <img src="{% static '/shipment/images/client1.jpg' %}" alt="" class="img-fluid rounded-circle shadow" style="width: 70px; height: 70px; object-fit: cover; object-position: top;">
                            </p>
                            <p>
                                <b>Lisa C. Healy</b> <br />
                                <small>Life Coach</small>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-4">
                <div class="d-flex shadow-sm p-4 bg-white testimonial" data-aos="zoom-in">
                    <i class=" icofont icofont-quote-left icofont-4x icofont-pull-left text-light"></i>
                    <div>
                        <p>Service delivered are nothing short of excellent from start to finish. Customer service outclass the rest.
                        </p>
                        <div class="text-end">
                            <p>
                                <img src="{% static '/shipment/images/client2.jpg' %}" alt="" class="img-fluid rounded-circle shadow" style="width: 70px; height: 70px; object-fit: cover; object-position: top;">
                            </p>
                            <p>
                                <b>Kessler K.</b> <br />
                                <small>Bank Executive</small>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-6"></article>
        </div>
        <!-- end of row div-->

        <div class="row">
            <article class="col-12 col-sm-6 col-md-4">
                <div class="d-flex shadow-sm p-4 bg-white testimonial" data-aos="zoom-in-up">
                    <i class=" icofont icofont-quote-left icofont-4x icofont-pull-left text-light"></i>
                    <div>
                        <p>I am hard to impressed but I am greatly Impressed, Great delivery service take it or take it.
                        </p>
                        <div class="text-end">
                            <p>
                                <img src="{% static '/shipment/images/client3.jpg' %}" alt="" class="img-fluid rounded-circle shadow" style="width: 70px; height: 70px; object-fit: cover; object-position: top;">
                            </p>
                            <p>
                                <b>Jane Yin</b> <br />
                                <small>Artiste & Developer</small>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-4">
                <div class="d-flex shadow-sm p-4 bg-white testimonial" data-aos="zoom-in-up">
                    <i class=" icofont icofont-quote-left icofont-4x icofont-pull-left text-light"></i>
                    <div>
                        <p>
                            As a business owner I search for means to deliver my sample product, no other service but supersonic delivery.
                        </p>
                        <div class="text-end">
                            <p>
                                <img src="{% static '/shipment/images/client5.jpg' %}" alt="" class="img-fluid rounded-circle shadow" style="width: 70px; height: 70px; object-fit: cover; object-position: top;">
                            </p>
                            <p>
                                <b>Jacques Cisneros John</b> <br />
                                <small>Business Owner</small>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-4">
                <div class="d-flex shadow-sm p-4 bg-white testimonial" data-aos="zoom-in-up">
                    <i class=" icofont icofont-quote-left icofont-4x icofont-pull-left text-light"></i>
                    <div>
                        <p>Dear supersonic delivery, I am entirely grateful for your promptous executive delivery.
                        </p>
                        <div class="text-end">
                            <p>
                                <img src="{% static '/shipment/images/client6.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: 70px; height: 70px; object-fit: cover; object-position: top;">
                            </p>
                            <p>
                                <b>Hedvig Isaksson</b> <br />
                                <small>Senior Nutritionist</small>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-6"></article>
        </div>
        <!-- end of row div-->
    </div>
</section>

<!-- <section class="bg-info my-5" style="background:#21b8a4">
    <div class="container">
        <div class="row ">
            <article class="col-12 col-md-6">
                <img src="{% static '/shipment/images/package4.jpg' %}" alt="" class=" img-fluid shadow-sm" style="transform: scale(1.1, 1.1);">
            </article>
        </div>
    </div>
</section> -->

<section id="shipment">
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-lg-3 p-5 text-center">
                <h3>What are you still waiting for? Start Shipping your Package Today.</h3>
                <div class="py-5 d-flex justify-content-evenly">
                    <a href="{% url 'contact' %}" class="btn btn-warning btn-lg shadow rounded-pill">CREATE SHIPMENT</a>
                    <!-- <a href="#" class="btn btn-outline-primary btn-lg">CONTACT US</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}