{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="header">
        <div class=" container">
            <div class=" row">
                <div class=" col-12">
                    
                </div>
            </div>
        </div>
    </section>

    <section id="brief-abt" class="py-3 py-md-5">
        <div class="container">
            <div class="row">  
                <div class="col-12 col-md-6 offset-md-3">
                    <h2 class=" pb-4">
                        From a Dream to a Reality
                    </h2>
                    <p class=" text-muted" style="line-height: 1.8; font-size: 20px;">
                        Supersonic Delivery focus on customers services
                        We deliver your goods at the speed of light, that's the source of inspiration
                        of our company name &quot; Supersonic Delivery &quot;
                        From UK with the blend of Machine Learning, we have been leading Logistic Tech. section.
                        Our delivery company delivers goods securely at every nook & crannies of the world.
                        At present we serve clients from over 39 nations in the world.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="py-3 text-center">
        <div class="container">
            <div class="row">  
                <div class="col-12 col-md-4 p-3 py-md-4 px-md-5">
                    <span>
                        <i class=" icofont icofont-5x icofont-fast-delivery"></i>
                    </span>
                    <h3 class="py-4">
                        Land Delivery
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas,
                    </p> 
                    
                </div>
                <div class="col-12 col-md-4 border-end border-start p-3 p-md-4 px-md-5">
                    <span>
                        <i class=" icofont icofont-5x icofont-airplane-alt"></i>
                    </span>
                    <h3 class="py-4">
                        Air Freight
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas,
                    </p>  
                    
                </div>
                <div class="col-12 col-md-4 p-3 p-md-4 px-md-5">
                    <span>
                        <i class=" icofont icofont-5x icofont-ship text-danger"></i>
                    </span>
                    <h3 class="py-4">
                        Sea Freight
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas,
                    </p>                     
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container my-5">
            <div class="row">  
                <div class="col-12 col-md-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas, 
                    totam earum asperiores cupiditate dignissimos qui at veritatis ullam? 
                    Illo dolorum, dolor officia magni corporis asperiores sunt.
                </div>
                <div class="col-12 col-md-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas, 
                    totam earum asperiores cupiditate dignissimos qui at veritatis ullam? 
                    Illo dolorum, dolor officia magni corporis asperiores sunt.
                </div>
                
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container my-5">
            <div class="row">  
                <div class="col-12 col-md-6 offset-3 p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ad pariatur voluptas, 
                    totam earum asperiores cupiditate dignissimos qui at veritatis ullam? 
                    Illo dolorum, dolor officia magni corporis asperiores sunt.
                </div>
            </div>
        </div>
    </section>

{% endblock content %}