{% extends 'base.html' %} {% load static %} {% block content %}
<section>
    <div class=" container">
        <div class=" row">
            <div class="col-4 col-md-6p-0 m-0">
                <div>
                    <img src="{% static '/shipment/images/truck_service1.jpg' %}" alt="" class="img-fluid shadow " style="object-fit: cover; width: 100%;">
                </div>
            </div>
            <div class="col-4 col-md-6 align-self-center p-5">
                <p>Our Client</p>
                <h1 class="h2">
                    Testing this section
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eum pariatur libero doloremque vel eveniet voluptas, eligendi aliquid deserunt minus nemo, modi corrupti impedit, obcaecati perferendis et harum id. Beatae?
                </p>
            </div>
        </div>
        <!-- end of row -->

        <div class=" row">
            <div class="col-4 col-md-6 align-self-center p-5">
                <p>Our Client</p>
                <h1 class="h2">
                    Testing this section
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eum pariatur libero doloremque vel eveniet voluptas, eligendi aliquid deserunt minus nemo, modi corrupti impedit, obcaecati perferendis et harum id. Beatae?
                </p>
            </div>
            <div class="col-4 col-md-6 p-0 m-0">
                <div>
                    <img src="{% static '/shipment/images/plane_service1.jpg' %}" alt="" class="img-fluid shadow" style="object-fit: cover;">
                </div>
            </div>
        </div>
        <!-- end of row -->

        <div class=" row">
            <div class="col-4 col-md-6 p-0 m-0">
                <div>
                    <img src="{% static '/shipment/images/ship_service1.jpg' %}" alt="" class="img-fluid shadow" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-4 col-md-6 align-self-center p-5">
                <p>Our Client</p>
                <h1 class="h2">
                    Testing this section
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eum pariatur libero doloremque vel eveniet voluptas, eligendi aliquid deserunt minus nemo, modi corrupti impedit, obcaecati perferendis et harum id. Beatae?
                </p>
            </div>
        </div>
        <!-- end of row -->
    </div>
</section>
{% endblock content %}