{% extends 'base.html' %} {% load static %} {% block content %}
<section>
    <div class=" container">
        <div class=" row">
            <div class="col-12 col-md-6 p-0 m-0">
                <div>
                    <img src="{% static '/shipment/images/truck_service1.jpg' %}" alt="" class="img-fluid shadow " style="object-fit: cover; width: 100%;">
                </div>
            </div>
            <div class="col-12 col-md-6 align-self-center p-3 p-sm-5">
                <p>Truck Haulage</p>
                <h1 class="h2">
                    Inter and Intra city delivery
                </h1>
                <p>
                    Our network relationships with thousand carriers, are dependable source of fast response and door to door delivery. Using AI and other modern tech to monitor delivery, rating, driver locations, and operating authorities. Be rest assured your goods are
                    in save hands.
                </p>
            </div>
        </div>
        <!-- end of row -->

        <div class=" row">
            <div class="col-12 col-md-6 align-self-center p-3 p-sm-5 order-2 order-sm-1">
                <p> Air Freight</p>
                <h1 class="h2">
                    Fast Cargo Delivery.
                </h1>
                <p>
                    You want your items delivered within 3 working days? You are the right place, we provide e-logistic services deliver goods cross country at supersonic speed. Why wait extra days for a little fee?.
                </p>
            </div>
            <div class="col-12 col-md-6 p-0 m-0 border-bottom border-md-0 order-1 order-sm-2">
                <div>
                    <img src="{% static '/shipment/images/plane_service1.jpg' %}" alt="" class="img-fluid shadow" style="object-fit: cover;">
                </div>
            </div>
        </div>
        <!-- end of row -->

        <div class=" row">
            <div class="col-12 col-md-6 p-0 m-0">
                <div>
                    <img src="{% static '/shipment/images/ship_service1.jpg' %}" alt="" class="img-fluid shadow" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-12 col-md-6 align-self-center p-3 p-sm-5">
                <p>Shipping</p>
                <h1 class="h2">
                    Secured Merchant Shipping.
                </h1>
                <p>
                    If goods a <b>country band</b>, don't worry. We deliver goods irrespective, to any nation through our high official contacts in many nations. Contact us now.
                </p>
            </div>
        </div>
        <!-- end of row -->
    </div>
</section>
{% endblock content %}