{% extends 'base.html' %} {% load static %} {% block content %}
<section class="py-5">
    <div class=" container">
        <div class=" row">
            <div class=" offset-3 col-6 mb-5">
                <form action="" method="GET">
                    {{ form.as_p }}
                    <input type="submit" class=" btn btn-lg btn-warning" value="Track Now">
                </form>
            </div>
            {% if item %}
            <div class=" offset-3 col-3 bg-light">
                <div></div>
                <div>
                    <h3>SENDER: </h3>
                    <p>{{ item.item_reciever.fullname }}</p>
                </div>
            </div>
            <div class="col-3 bg-warning">
                <div>
                    <h3>ITEM_CODE: </h3>
                    <p>{{ item.item_code }}</p>
                </div>
            </div>
            {% else %}
            <div>
                <h3>Item doesnt exist</h3>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}