{% extends 'base.html' %} {% load static %} {% block content %}
<section id="dashboard">
    <div class="container py-5">

        <div class="row ">
            <div class="col-12 text-center ">
                <h1>Welcome <span class="text-muted">{{request.user.username}}</span></h1>
                <p>You have no activities going on now... <br /> You can send a packages today, or track an item</p>
                <a href="{% url 'shipment_track' %}" class="btn btn-warning mt-3">TracK now</a>
            </div>
        </div>


    </div>
</section>
{% endblock content %}