#header {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 92, 151,  0.9), rgba(54, 55, 149,  0.3)), url("/static/shipment/images/frank-mckenna-trial.jpg");
    background-size: cover;
    background-position: center;
    
}



/* .custom-shape-divider-bottom-1620085219 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1620085219 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 98px;
}

.custom-shape-divider-bottom-1620085219 .shape-fill {
    fill: #FFFFFF;
} */

.custom-shape-divider-bottom-1620085333 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1620085333 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1620085333 .shape-fill {
    fill: #FFFFFF;
}


#brief-abt {
    text-align: center;
}

/* linear-gradient(rgba(0, 92, 151,  0.9), rgba(54, 55, 149,  0.9)), */