@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#header {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right,  rgba(54, 55, 149,  0.9),rgba(54, 55, 151,  0.7)), url("/static/shipment/images/frank-mckenna-trial.jpg");
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    
}

h1, h2, h3, h4, h4, h6 {
    font-family: 'Black Han Sans', sans-serif;
    /* font-family: 'Gotham Rounded'; */
    font-weight: 100;
}

p {
    font-family: 'Avalon';
    letter-spacing: 1.5px;
    line-height: 1.8;
}


#header h1 {
    font-size: 48px;
}

/* #header a{
    background-color: rgba(75, 0, 130, 0.87);
} */



.custom-shape-divider-bottom-1620085333 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1620085333 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1620085333 .shape-fill {
    fill: #FFFFFF;
}


#brief-abt {
    text-align: center;
}

#brief-abt h2 span {
    font-weight: 900;
    color: #6610f2;
}

#brief-abt p {
    font-size: 18px;
}

/* linear-gradient(rgba(0, 92, 151,  0.9), rgba(54, 55, 149,  0.9)), */